/*--------------
All Contents
--------------*/

/*-----------------
1. Reset.css
2. Helper Classes
3. Main and Hero Section Stylings
4. Services Styling
5. Features Split
6. Feature with BG
7. Feature Big
8. Testimonial Stling
9. Pricing Section
10. Call To Action Subscribe
11. Download Section
12. Back to top
------------------*/


/*----- 1. Reset.css -----*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --- Common Styles ---*/

h1 {
	font-family: Poppins;
	font-size: 16px;
}

/*----- Helper Classes -----*/

html * {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*
::-webkit-scrollbar {
	display: none;
}
*/

::-moz-selection {
	color: #1106CC;
	background: #FFFFFF;
}

::selection {
	color: #1106CC;
	background: #FFFFFF;
}

.nopadding {
	padding: 0;
}

.custom-padding {
	padding-left: 10px;
	padding-right: 10px;
}

.no-margin {
	margin-right: 0;
	margin-left: 0;
}


.sup-title {
	display: inline-block;
	font-size: 1em;
	padding: 4px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	margin: 0 0 20px 0;
}

.spacer {
	width: 100%;
	height: 50px;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	opacity: 1;
	background-color: #F2F2F2;
	z-index: 9999;
	text-align: center;
}

#loading-image {
	display: inline;
	top: 40%;
	position: relative;
	z-index: 9999;
}

.spacer {
	width: 100%;
	height: 50px;
}

.spacer-big {
	width: 100%;
	height: 100px;
}

.error-message {
	color: #FF3333;
	font-family: Roboto;
	margin-top: 5px;
}

.success-message {
	color:#33cc33;
	font-family: Roboto;
	margin-top: 5px;
}


.btn-fill {
	background: #FFFFFF;
	color: #5924EC;
	border: 2px solid #5924EC;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.btn-fill:hover, .btn-fill:focus {
	color: #5924EC;
	background: transparent;
	border: 2px solid #5924EC;
}


/* ------ Navbar Styling Starts ----- */


.navbar {
	font-size: 14px;
	font-family: Poppins;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 25px;
	letter-spacing: 1px;
	height: 80px;
}

.navbar-default {
	transition: all 0.6s ease;
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-radius: 0px;
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #111111;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
	padding: 4px 6px;
	font-size: 16px;
	color: #111111;
}

.navbar-default .navbar-brand {
	padding: 0 0;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.navbar-default .navbar-brand:hover {
	transition: 1s;
}

.navbar-default .navbar-nav > li > a {
	color: #444444;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5;
	transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #000000;
}

.navbar-default .navbar-nav > .active > a {
	background: transparent;
	color: #FFFFFF;
}


.navbar-default .navbar-nav > .active > a:hover {
	background: transparent;
	color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
	color: #FFFFFF;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
	color: #111111;
}

.navbar-default .nav-white > li > a {
	color: #FFFFFF;
}

.navbar-default .nav-white > li > a:hover {
	color: #999999;
}

/*---------- Media Queries ---------*/

@media only screen and (max-width: 767px) {

	.navbar {
		padding-top: 5px;
		height: 60px;
	}

	.navbar-default {
		border: 0px;
		background-color: transparent;
	}

	.navbar-default .navbar-collapse {
		text-align: center;
		border-color: transparent;
		background-color: #FFFFFF;
	}

	.navbar-default .navbar-collapse {
		border: 0;
		border-color: transparent;
	}

	.navbar-default .navbar-nav > li> a {
		color: #222222;
		margin-top: 10px;
	}

	.navbar-default .navbar-nav > li> a:hover {
		color: #222222;

	}
	.navbar-default .navbar-brand {
		color: #FFFFFF;
		padding: 8px 8px !important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #111111;
	}
}

@media only screen and (min-width: 240px) {

	.navbar.past-main {
		transition: all 0.6s ease;
		height: 50px;
		background-color: rgba(255, 255, 255, 0.99);
	}

	.navbar.effect-main:active {
		-webkit-transition: height 0.6s; /* For Safari 3.1 to 6.0 */
		transition: height 0.6s;
		height: 60px;
	}

	.navbar.past-main {
		font-size: 14px;
		padding-top: 5px;
		height: 60px;
		-webkit-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
		-moz-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
		box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
		-webkit-transition: height 0.6s; /* For Safari 3.1 to 6.0 */
		transition: height 0.6s;
	}

	.navbar-default.past-main .navbar-brand {
		padding: 8px 0;
	}

	.navbar-default.past-main .navbar-toggle .icon-bar {
		background-color: #111111;
	}

	.navbar-default.past-main .navbar-nav > li > a {
		color: #606060;
		-webkit-transition: color 0.5s;
		transition: color 0.5s;
	}

	.navbar-default.past-main .navbar-nav > li > a:hover {
		color: #111111;
	}

	.navbar-default.past-main .navbar-nav > .active > a {
		background: transparent;
		color: #5924EC;
	}


	.navbar-default.past-main .navbar-nav > .active > a:hover {
		background: transparent;
		color: #222222;
	}

	.navbar-default.past-main .navbar-nav > .active > a:focus {
		background: transparent;
		color: #222222;
	}

}



/* ------ Navbar Styling Ends ----- */

#main {
	height: 100%;
}


/* ----- Hero Section Styling Starts ----- */

.hero-section {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("../images/hero3.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-position: 50% 60%;
}

.jarallax {
	position: relative;
	background-image: url("../images/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.hero-content {
	width: 100%;
	padding: 200px 0 100px 0;
	overflow: hidden;
}

.hero-content h1 {
	font-family: Poppins;
	font-size: 34px;
	color: #111111;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

.hero-content p {
	font-family: Poppins;
	font-size: 14px;
	color: #111111;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.btn-action {
	font-family: Roboto;
	background-color: #5924EC;
	border: 2px solid #5924EC;
	border-radius: 0;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 400;
	height: 38px;
	letter-spacing: 2px;
	line-height: 3;
	padding: 0 21px;
	text-transform: uppercase;
	outline: none;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.hero-content .btn-action:hover, .hero-content .btn-action:focus,
.hero-content .btn-action:active, .hero-content .btn-action:active:focus {
	background: transparent;
	outline: none;
	color: #5924EC;
	border-color: #5924EC;
}

.btn-action:hover, .btn-action:focus, .btn-action:active, .btn-action:active:focus {
	background: transparent;
	outline: none;
	color: #5924EC;
	border-color: #5924EC;
}

.txt-white h1 {
	color: #FFFFFF;
}

.txt-white p {
	color: #FFFFFF;
}

.app-hero {
	background: #F3F3F3;
}

.app-hero-content {
	overflow: hidden;
	padding: 150px 0 0 0;
}

.app-hero-content h1 {
	color: #111111;
}

.app-hero-content p {
	color: #111111;
}

.app-hero-content img {
	margin-top: 50px;
}

.app-sub {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 200, 0.1)), url(../images/feature_bg.jpg) no-repeat center center;
	background-size: cover;
}

.app-sub-inner {
	width: 100%;
	height: 100%;
	padding: 100px 0 100px 0;
	overflow: hidden;
}

.app-sub-content {
	padding: 100px 0 0 0;
}

.app-sub-content h1 {
	font-family: Poppins;
	font-size: 42px;
	font-weight: 700;
	color: #111111;
	line-height: 1.2;
	letter-spacing: -2px;
	margin-bottom: 30px;
}


.app-sub-content p {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 100;
	color: #111;
	line-height: 1.4;
	margin-bottom: 30px
}

.app-sub-content .subscribe-form {
	text-align: left;
}


/* ----- Hero Section Styling Ends ----- */




/* ----- About Section Styling Starts ----- */


.services-section {
	background: #FFFFFF;
}

.services-content {
	padding-top: 100px;
	padding-bottom: 75px;
}

.services-content h1 {
	font-family: Poppins;
	font-size: 24px;
	color: #111111;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 10px;
}

.services-content p {
	font-family: Poppins;
	font-size: 14px;
	color: #444444;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4;
	margin-top: 0px;
}

.services {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
}

.services .services-icon {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid;
	border-color: transparent;
	background: #F6F6F6;
	margin: 0 auto;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.services .services-icon img {
	position: absolute;
	top: 10%;
	left: 11%;
	font-size: 42px;
}

.services .services-description {
	margin-bottom: 50px;
}

.services .services-description h1 {
	font-family: Poppins;
	font-size: 18px;
	color: #111111;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.4;
	margin-top: 20px;
	margin-bottom: 20px;
}

.services .services-description p {
	font-family: Poppins;
	font-size: 13px;
	color: #444444;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.5;
	margin-top: 0;
}

.services .col-sm-4:hover .services-icon {
	border-color: #5924EC;
}

/* ----- Service Section Styling Ends ----- */


/* -----------------------------------------------
----------- Flex Features Styling Starts ---------
-------------------------------------------------*/


.flex-features {
	background: #F3F3F3;
	padding-top: 0;
	padding-bottom: 50px;
}

.flex-split {
	padding-top: 50px;
	padding-bottom: 0;
	background: #F3F3F3;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-split .f-left {
	flex: 1 0 50%;
	background: #F3F3F3;
	padding: 10px;
}

.flex-split .f-left img {
	margin-top: 30px;
	margin: 0 auto;
}

.flex-split .f-right {
	flex: 1 0 50%;
	background: #F3F3F3;
}

.flex-split .f-right {
	padding: 30px 20px 20px 20px;
}

.flex-split .f-right h2 {
	font-family: Poppins;
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	line-height: 1.2;
}

.flex-split .f-right p {
	font-family: Poppins;
	font-size: 14px;
	color: #111111;
	line-height: 1.4;
	margin: 20px 0 20px 0;
}

.flex-split .f-right ul {
	margin-bottom: 20px;
}

.flex-split .f-right ul i {
	margin-right: 10px;
}

.flex-split .f-right li {
	font-family: Poppins;
	font-size: 14px;
	color: #111111;
	line-height: 2;
}



/* -----------------------------------------------
----------- Flex Features Styling Ends -----------
-------------------------------------------------*/


/* ----- Features Section Styling Starts ----- */


.features-section {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.features-section .f-left {
	flex: 1 0 50%;
	background: #F3F3F3;
}

.features-section .f-right {
	flex: 1 0 50%;
	background: url(../images/iphone_hand.jpg);
	background-position: 50% 50%;
	background-size: cover;
}

.features-section .f-right img {
	margin-top: 0;
}

.features-section .f-left  {
	padding: 30px;
}

.features-section .f-left  h2 {
	font-family: Poppins;
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	line-height: 1.3;
	margin-top: 40px;
}

.features-section .f-left  p {
	font-family: Poppins;
	font-size: 14px;
	color: #111111;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.features-section .btn-action {
	margin-bottom: 20px;
}



/*----- Features Section Styling Ends ----- */


/* ----- Features Section 2 Styling ----- */

.features-section-2 {
	padding-top: 30px;
	padding-bottom: 30px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0)), url(../images/feature_bg.jpg) no-repeat center center;
	background-size: cover;
}

.features-section-2 .features-content {
	padding: 0;
}

.features-section-2 .features-content h2 {
	font-family: Poppins;
	font-size: 21px;
	color: #111111;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	margin-top: 20px;
}

.features-section-2 .features-content h4 {
	font-family: Poppins;
	font-size: 18px;
	color: #111111;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.features-section-2 .features-content p {
	font-family: Roboto;
	font-size: 14px;
	color: #111111;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 20px;
}


/* ----- Features Section 2 Styling ----- */
/* ----- Features Section 3 Styling ----- */

.features-section-3 {
	padding-top: 30px;
	padding-bottom: 30px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0)), url(../images/feature_tem.jpg) no-repeat center center;
	background-size: cover;
}

.features-section-3 .features-content {
	padding: 0;
}

.features-section-3 .features-content h2 {
	font-family: Poppins;
	font-size: 21px;
	color: #111111;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	margin-top: 20px;
}

.features-section-3 .features-content h4 {
	font-family: Poppins;
	font-size: 18px;
	color: #111111;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.features-section-3 .features-content p {
	font-family: Roboto;
	font-size: 14px;
	color: #111111;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 20px;
}


/* ----- Features Section 3 Styling ----- */
/* ----- Features Section Styling Ends ----- */


/* ----- Counter Section Styling Starts -----*/

.counter-section {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
	background: #FFFFFF;
}

.counter-section h3  {
	font-family: Poppins;
	font-size: 28px;
	font-weight: 400;
	color: #303030;
}

.counter-icon {
	padding: 15px;
}

.counter-icon i {
	font-size: 42px;
	color: #5924EC;
}

.counter-text {
	margin-top: 10px;
	margin-bottom: 20px;
}

.counter-text h4 {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	padding: 0.5em;
	color: #111111;
}

/* -------- Counter Section Styling Ends --------- */



/*------ Feature Big Section Styling Starts ------ */


.feature_huge {
	padding-top: 100px;
	padding-bottom: 100px;
	background: #F3F3F3;
}

.feature_huge img {
	margin: 0 auto;
	margin-bottom: 50px;
}

.feature_huge .feature_list {
	margin: 0 auto;
	margin-top: 30px;
}

.feature_huge .feature_list img {
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
}

.feature_huge .feature_list h1 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 600;
	padding: 0.5em;
	color: #111111;
}

.feature_huge .feature_list p {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	padding: 0.5em;
	color: #606060;
	letter-spacing: 1px;
	line-height: 1.3;
	margin-bottom: 20px;
}

/*------ Feature Big Section Styling Ends ------ */



/* -------- Testimonials Section Starts --------- */

.testimonial-section {
	background: #FFFFFF;
	padding-top: 50px;
}

.testimonial-section h1 {
	font-family: Poppins;
	font-size: 34px;
	font-weight: 500;
	color: #111111;
	margin-top: 3em;
}

.testimonial-section .sub {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	color: #111111;
	line-height: 1.5;
	margin-top: 30px;
	letter-spacing: 1px;
}

.testimonials {
	margin-top: 4em;
	width: 100%;
	margin-bottom: 4em;
}

.testimonials-2 {
	margin-bottom: 5em;
}

.testimonial-single img {
	width:80px;
	height:80px;
}

.testimonial-text h3 {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 1.5;
	color: #000000;
}

.testimonial-text .ion {
	display: inline-block;
	margin-top: 20px;
	font-size: 14px;
	color: #ff8000;
}

.testimonial-text p {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 300;
	padding: 20px 10px 20px 10px;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #111111;
}


/* -------- Testimonials Section -------- */


/* ------ Download Section Styling------------ */

.download {
	width: 100%;
	height: 100%;
	background: #F3F3F3;
}

.app-img {
	display: inline-block;
	margin-top: 5em;
}

.app-info{
}

.app-info h3 {
	font-family: Poppins;
	font-size: 34px;
	font-weight: 500;
	color: #404040;
	margin-top: 20px;
}

.app-info h4 {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	color:  #3C4B5D;
	margin-top: 20px;
}

.app-info ul {
	margin-top: 20px;
}

.app-info span {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	color: #222222;
}

.app-info .ion {
	font-size: 1em;
	color: #ff8000;
}

.download-buttons {
	margin-top: 2em;
	margin-bottom: 5em;
}

.download-buttons img {
	height: 50px;
	width: 160px;
}


/*------ Download Section Styling Ends ------ */


/* ----- Pricing Section Styling Starts ----- */

.pricing-section {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #F3F3F3;
}

.pricing-intro {
	padding-bottom: 30px;
}

.pricing-intro h1 {
	font-family: Poppins;
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	line-height: 1.4;
}


.pricing-intro p {
	font-family: Roboto;
	font-size: 15px;
	color: #303030;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.pricing-section .table-left, .pricing-section .table-right {
	padding: 20px 20px 50px 20px;
	margin: 0 auto;
	margin-bottom: 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #EFEFEF;
	max-width: 400px;
}

.table-left .icon, .table-right .icon {
	padding: 50px 50px 40px 50px;
}

.table-left .icon img, .table-right .icon img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.table-left .pricing-details span, .table-right .pricing-details span {
	display: inline-block;
	font-family: Poppins;
	font-size: 34px;
	font-weight: 600;
	color: #808080;
	margin-bottom: 20px;
}

.table-left .pricing-details h2, .table-right .pricing-details h2 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 600;
	color: #505050;
	margin-bottom: 20px;
}

.table-left .pricing-details p, .table-right .pricing-details p {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 300;
	color: #505050;
	letter-spacing: 1px;
	line-height: 1.4;
}

.table-left .pricing-details ul, .table-right .pricing-details ul {
	margin-top: 30px;
	margin-bottom: 50px;
}


.table-left .pricing-details li, .table-right .pricing-details li {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	color: #505050;
	line-height: 1.4;
	margin-bottom: 10px;
}

.pricing-section .table-left:hover, .pricing-section .table-right:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


/* ----- Pricing Section Styling Ends ----- */


/* ----- CTA Section Styling Starts ----- */



.cta-sub {
	padding-top: 100px;
	padding-bottom: 100px;
	background: #F3F3F3;
}

.cta-sub h1 {
	font-family: Poppins;
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	line-height: 1.3;
	margin-top: 10px;
	margin-bottom: 0;
}

.cta-sub p {
	font-family: Roboto;
	font-size: 16px;
	color: #303030;
	font-weight: 300;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 40px;
}

.subscribe-form {
	text-align: center;
}

.subscribe-form .mail {
	background-color: #F9F9F9;
	border: none;
	border-radius: 5px 0 0 5px;
	outline: none;
	height: 40px;
	padding: 0 150px 0 20px;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	transition: all .3s;
}


.subscribe-form input {
	color: #222222;
	font-family: Poppins;
	padding: 0;
	font-size: 0.9em;
}

.subscribe-form .submit-button {
	font-size: 0.9em;
	height: 40px;
	border: 2px solid;
	border-radius: 0 5px 5px 0;
	margin: 0;
	padding: 0 25px 0 25px;
	border-color: #5924EC;
	background-color: #5924EC;
	color: #FFFFFF;
	box-shadow: 0 0 1px transparent;
	outline: none;
}

.subscribe-form .submit-button:hover {
	box-shadow: 0 0 10px #FFFFFF;
	-webkit-transition: 500ms;
	transition: 500ms;
}


/* ----- CTA Section Styling Ends ----- */


/* ----- Client Sectiion Styling ----- */

.client-section {
	background-color: #F3F3F3;
}

.clients ul li {
	display: inline;
}

.clients .single img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}



/* ------- Footer Section Styling Starts ------- */


.footer {
	background-color: #F3F3F3;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer img {
	margin-bottom: 20px;
}

.footer-menu ul {
	list-style-type: none;
}

.footer-menu li {
	display: inline;
	line-height: 2;
	font-family: Roboto;
	font-size: 14px;
	padding-right: 15px;
	text-transform: uppercase;
}

.footer-menu li a {
	color: #707570;
	text-decoration: none;
}

.footer-text p {
	font-family: Roboto;
	font-size: 14px;
	color: #707570;
	font-weight: 300;
	line-height: 2;
	letter-spacing: 1px;
	margin-top: 10px;
}

/* ------- Footer Section Styling Starts ------- */

.no-color {
	background: #FFFFFF;
}


/*---------------------------------------------------
----------- Contact Page Styling Starts -------------
---------------------------------------------------*/

.contact-section {
	width: 100%;
	height: 100%;
	padding: 150px 0 50px 0;
	background: #FFF;
}

.contact-section h1 {
	font-family: Poppins;
	font-size: 28px;
	font-weight: 600;
	color: #111111;
	line-height: 1.3;
	margin-bottom: 20px;
}

.contact-section p {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	color: #111111;
	line-height: 1.4;
}



/* ------------ Contact Form Styling --------*/

.contact-form {
	padding-top: 50px;
}


label {
	display: block;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	text-align: left;
}

.form-control {
	border: 0px;
	border-radius: 0px;
	margin-top: 10px;
	background: transparent;
	margin-bottom: 40px;
	border-bottom: 1px solid #999999;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.form-control:focus {
	border-color: #5924EC;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.form-control::-webkit-input-placeholder {
	font-family: Roboto;
	font-size: 13px;
	color: #999999;
}
.form-control:-moz-placeholder {
	font-family: Roboto;
	font-size: 13px;
	color: #999999;
}
.form-control::-moz-placeholder {
	font-family: Roboto;
	font-size: 13px;
	color: #999999;
}
.form-control:-ms-input-placeholder {
	font-family: Quicksand;
	font-size: 13px;
	color: #999999;
}

.text-muted {
	font-family: Roboto;
	font-size: 13px;
	color: #222;
}

.text-muted strong {
	color: #FF3333;
}

.btn-send {
	font-family: Poppins;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
	border-radius: 0px;
	color: #FFFFFF;
	background: #5924EC;
	border-color: #5924EC;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.btn-send:hover, .btn-send:focus {
	color: #FFFFFF;
	background: #000000;
	border-color: #111111;
	outline: none !important;
}

/* -------- Contact Section Styling Ends ---- */


/* -------------------------------------------------------
----------- Bact-to-Top Styling Starts Here --------------
---------------------------------------------------------*/


.back-to-top {
	background: rgba(89, 36, 236, 0.5);
	margin: 0;
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	z-index: 90;
	display: none;
	text-decoration: none;
	color: #0E1729;
}

.back-to-top i {
	position: relative;
	left: 13px;
	top: 8px;
	font-size: 24px;
	color: #FFFFFF;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.back-to-top:hover {
	background: rgba(89, 36, 236, 0.9);
	color: #FFFFFF;
}

.back-to-top:hover i {
	top: 6px;
}

.back-to-top:focus {
	color: #FFFFFF;
}





/*---------------------------------------------------
----------- Contact Page Styling Ends -------------
---------------------------------------------------*/


/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/

@media only screen and (min-width: 767px) {

	#left, #right {
		width: 25px;
	}
	#top {
		height: 25px;
	}
	#bottom {
		height: 25px;
	}

	.custom-padding {
		padding-left: 80px;
		padding-right: 80px;
	}

	.hero-content {
		width: 100%;
		padding: 260px 0 120px 0;
	}

	.hero-content h1 {
		font-size: 64px;
		font-weight: 600;
		line-height: 1.2;
		margin-top: 0;
		letter-spacing: -2px;
		margin-bottom: 25px;
	}

	.hero-content p {
		font-size: 14px;
	}

	.btn-action {
		border: 2px solid #5924EC;
		font-weight: 500;
		height: 42px;
		padding: 0 24px;
	}

	.btn-fill {
		border: 2px solid #5924EC;
		height: 38px;
	}

	.app-hero-content {
		padding: 150px 0 0 0;
	}

	.app-hero-content h1 {
		font-size: 42px;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -1px;
		margin-top: 25px;
	}

	.app-hero-content p {
		font-size: 16px
	}

	.app-sub-inner {
		padding: 200px 0 100px 0;
	}

	.app-sub-content h1 {
		font-size: 64px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.app-sub-content p {
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;
	}

	.cta-small .cta-content span {
		position: absolute;
		left: -30px;
	}

	.cta-small .cta-content h2 {
		font-size: 14px;
	}

	.services-content h1 {
		font-size: 28px;
		line-height: 1.4;
	}

	.services-content p {
		font-size: 14px;
	}

	.services .services-description {
		margin-bottom: 75px;
	}

	.flex-features {
		padding-top: 150px;
		padding-bottom: 150px;
	}

	.flex-split {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.flex-split .f-right {
		padding: 50px 20px 20px 20px;
	}

	.features-section {
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.features-section .f-left h2 {
		font-size: 34px;
	}

	.features-section .f-left {
		padding: 60px;
	}

	.features-section .f-right {
		flex: 1 0 50%;
	}

	.features-section-2 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.features-section-2 .features-content {
		padding: 50px;
	}

	.features-section-2 .features-content h2 {
		font-size: 34px;
		margin-top: 20px;
	}

	.features-section-2 .features-content h4 {
		font-size: 21px;
	}

	.features-section-2 .features-content p {
		font-size: 15px;
	}

	.counter-up {
		margin-bottom: 2em;
	}

	.counter-text {
		margin-bottom: 0;
	}

	.counter-section h3  {
		font-size: 34px;
	}

	.counter-text h4 {
		font-size: 18px;
	}

	.feature_huge .feature_list img {
		width: 65px;
		height: 65px;
	}

	.feature_huge .feature_list h1 {
		font-family: Poppins;
		font-size: 18px;
		font-weight: 600;
		padding: 0.5em;
		color: #232323;
	}

	.feature_huge .feature_list p {
		font-size: 14px;
	}


	.testimonial-section h1 {
		font-size: 2em;
	}

	.pricing-section .table-left, .pricing-section .table-right {
		margin: 0 auto;
	}

	.contact-section {
		padding: 200px 0 100px 0;
	}

	.contact-section h1 {
		font-size: 42px;
	}

	.contact-section p {
		font-size: 16px;
	}

	.contact-form {
		padding-top: 100px;
	}

}

@media screen and (min-width: 400px) and (max-width: 600px) {

	.subscribe-form .mail {
		padding: 0 30px 0 20px;
		border-radius: 5px 0 0 5px;
	}

	.subscribe-form .submit-button {
		padding: 0 5px 0 5px;
		border-radius: 0 5px 5px 0;
	}
}


@media screen and (max-width: 399px) {

	.subscribe-form .mail {
		text-align: center;
		padding: 0 0 0 0;
		border-radius: 5px 0 0 5px;
	}

	.subscribe-form .submit-button {
		padding: 0 5px 0 5px;
		border-radius: 0 5px 5px 0;
		margin-top: 15px;
	}

	.app-info {
		margin-bottom: 0em;
	}
	.download-buttons img {
		height: 40px;
		width: 120px;
	}
	.back-to-top {
		right: 10px;
	}
}


@media only screen and (min-width: 992px) {

	.pricing-section .table-left {
		padding: 50px;
	}

	.pricing-section .table-right {
		padding: 50px;
	}
}


@media only screen and (min-width: 767px) and (max-width: 992px) {

	.app-sub-content h1 {
		font-size: 34px;
		margin-bottom: 30px;
	}

	.app-sub-content p {
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;
	}

	.pricing-section .table-left {
		margin-right: 10px;
	}
	.pricing-section .table-right {
		margin-left: 10px;
	}
}


/* ------ Features Split Section Media Queries ----- */

@media only screen and (min-width: 769px) {
	.flex-split {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	.flex-split .f-right h2 {
		font-family: Poppins;
		font-size: 34px;
	}
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.flex-split .f-left img {
		margin-top: 30px;
	}
	.flex-split .f-right {
		padding: 10px 20px 20px 20px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1180px) {
	.flex-split .f-left img {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 1024px) {
	.flex-split .f-left {
		padding: 30px 10px 10px 10px;
	}

	.flex-split .f-right {
		padding: 40px 50px 50px 50px;
	}
}

/* ------ Features Split Section Media Queries Ends  ----- */


@media only screen and (max-width: 766px) {
	.features-section .f-right {
		flex: 1 0 50%;
		height: 360px;
	}
}

@media only screen and (max-width: 1142px) {
	.features-section-2 .features-content {
		padding: 0;
	}

	.features-section-2 .features-content {
		padding: 10px;
	}

	.features-section-2 .features-content h2 {
		margin-top: 10px;
	}
}
.example-col-li{
	padding: 2px 0;
	margin-bottom: 10px;
}


.fixed-footer .footer-fixed-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
}
ul,li,span{

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.footer {
	background-color: #333;
	padding-top: 15px;
}
.footer .body {
	display: table;
	width: 100%;
}
.footer .body .column.w-40 {
	width: 40%;
}
.footer .body .column {
	vertical-align: top;
}
.footer .body .column {
	display: table-cell;

}
.footer .body .column ul {
	line-height: 1.8;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
}
.footer-col-title {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
}
.footer-col-content {
	letter-spacing: 2px;
	margin-right: 20px;
}
.copyright .right-con {
	padding: 5px;
}
.footer .body .code-2d li {
	display: inline-block;
	margin-left: 15px;
}
.copyright p {

	text-align: center;
	margin-top: 15px;
	color: rgba(255, 255, 255, 0.6);
}
.dec-2d {
	text-align: center;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
@media (min-width: 768px) {
	.navbar-fixed-bottom, .navbar-fixed-top {
		border-radius: 0;
	}

	.navbar-fixed-bottom, .navbar-fixed-top {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	@media (min-width: 768px) {
		.navbar {
			border-radius: 4px;
		}

		.navbar {
			position: fixed;
			min-height: 50px;
			margin-bottom: 20px;
			border: 1px solid transparent;
		}
	}
}

@media (min-width: 768px) {
	.navbar-header {
		float: left;
	}

}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-default .navbar-brand {
	color: #777;
}
.navbar-brand>img {
	display: block;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 340px;
}
@media (min-width: 768px) {
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
}
@media (min-width: 768px) {
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
}
@media (min-width: 768px) {
	.navbar-right {
		float: right !important;
		margin-right: -15px;
	}
}

@media (min-width: 768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
@media (min-width: 768px) {
	.navbar-nav > li {
		float: left;
	}
}
.nav>li {
	position: relative;
	display: block;
}
@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px;
	}
	.nav>li>a {
		position: relative;
		display: block;
		padding: 10px 15px;
	}
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.navbar-default .navbar-nav>li>a {
	color:#999999;

}
a {
	color: #337ab7;
	text-decoration: none;
}
a {
	background-color: transparent;
}
@media (min-width: 768px){
	.navbar-toggle {
		display: none;
	}
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;

}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px;
}
.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse {
	display: none;
}
.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
.navbar {

	min-height: 50px;
	margin-bottom: 20px;

}
.navbar-brand {
	height: 50px;
}
.navbar-toggle:focus {
	outline: 0;
}
.navbar-collapse.in {
	overflow-y: auto;
}
.collapse.in {
	display: block;
}
.navbar-nav {
	margin: 7.5px -15px;
}
.navbar-default {
	transition: all 0.6s ease;
	border-color: transparent;
	background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 340px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 340px;
}
@media (min-width: 768px){
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
}
@media (min-width: 768px){
	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
	}
}
@media (min-width: 768px){
	.navbar-right {
		float: right!important;
		margin-right: -15px;
	}
}
@media (min-width: 768px){
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.nav_list_show{
	margin-top: 3.4rem;
	display: block;
	width: 100%;
	overflow-y: auto;
	display: block;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: -15px;
	margin-left: -15px;
}

@media only screen and (max-width: 767px) {
	.features-section-2 {
		padding-top: 30px;
		padding-bottom: 30px;
		background:#fff;

	}

}
.setLineHeight{
	line-height:1.5;
}

.caseContent{
	background: #F3F3F3;
	padding-top: 0;
	padding-bottom: 50px;
}
@media  screen and (min-width: 767px) {
	.caseContent {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.foot_background{
	background-color: #333;
}
.setFootColor{
	color: rgba(255, 255, 255, 0.6);
}
.koBackground{
	background-color: #F3F3F3;
}
.show_banner{
	position: relative;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height:700px;
}
.padding-top-300{
	padding-top: 300px;
}
.info-container-1 {
	background: #fff;
	padding: 63px 0 118px;
}
.info-container-1 .our-quality {
	list-style: none;
	margin-top: 50px;
}
.info-container-1 .our-quality li {
	float: left;
	width: 25%;
	text-align: center;
}
.info-container-1 .our-quality figure {
	display: block;
	margin-bottom: 45px;
	overflow: hidden;
}
figure {
	margin: 0;
}
.info-container-1 .our-quality li svg {
	width: 145px;
	height: 131px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}
svg:not(:root) {
	overflow: hidden;
}
.title_borderStyle{
	border-width:2px;
	border-style:solid;
	border-color:red;
	width: 50px;
}
.ptb-94 {
	padding-top: 94px;
	padding-bottom: 94px;
}
.heading-block {
	text-align: center;
	margin-bottom: 20px;
}
.contact-us-info {
	border: 1px solid #e1eaec;
	margin-top: 4px;
	padding: 41px 2% 26px 9.5%;
}
.contact-us-info .contact-img {
	float: left;
	max-width: 58px;
	margin-right: 13%;
}
.contact-us-info .contact-us-links {
	float: left;
	color: #343a3b;
	font-size: 18px;
}
.contact-us-info .contact-us-links .contact-info-name {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	letter-spacing: -0.8px;
	line-height: 0.7;
	margin-bottom: 7px;
	text-transform: uppercase;
}
.contact-us-info .contact-us-links .contact-info-link {
	display: inline-block;
	font-family: "Domine", serif;
	font-weight: 400;
	color: #343a3b;
}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
.section-padding {
	padding: 110px 0;
}
.mb-80 {
	margin-bottom: 80px !important;
}
.text-center {
	text-align: center;
}
.input-field {
	margin-top: 45px;
}
@media only screen and (min-width: 1200px) {
	html {
		font-size: 15px;
	}
}
@media only screen and (min-width: 992px) {
	html {
		font-size: 14.5px;
	}
}
@media only screen and (min-width: 0){
	html {
		font-size: 14px;
	}
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	border-bottom: 1px solid #9b9b9b;
	font-size: 14px !important;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	outline: none;
	height: 3rem;
	width: 100%;
	margin: 0 0 15px 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
button, input, select, textarea {
	font-family: inherit;
	line-height: inherit;
}
.input-field label {
	position: absolute;
	color: #999;
	top: 0;
	left: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	margin: 0;
}
label {
	display: inline-block;
	max-width: 100%;

}
.comper_border_top{
	border-bottom: 1px solid #ccc;
}
.btn_show{
	width: 13%;
	height: 50px;
	float:right;
}
.quote-container{
	position: relative;
	background-color: #ff4d00;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.quote-container .right-banner {
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	height: 100%;
	background: url("../images/banner-img.jpg") no-repeat 0 0;
	background-size: 100% 100%;
}
.quote-box {
	float: left;
	width: 50%;
	padding: 98px 0 91px 0;
}
.quote-box h4 {
	font-size: 23px;
	line-height: 33px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 2px;
	padding-bottom: 10px;
}
.quote-box h4 i {
	display: block;
	width: 44px;
	height: 3px;
	background: #e47b1c;
	margin-top: 12px;
}
.quote-box a {
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	padding: 13px 18px;
	text-decoration: none;
	text-transform: uppercase;
	min-width: 182px;
	text-align: center;
	background: #ca6f1d;
	border-radius: 3px;
	letter-spacing: 1px;
	margin-top: 22px;
	border: 1px solid transparent;
}
.flat-section {
	display: block;
	width: 100%;
	padding: 90px 0;
	position: relative;
}
.flat-section-title {
	width: 100%;
	display: block;
	text-align: center;
	padding-bottom: 65px;
	position: relative;
	overflow: hidden;
}
.flat-section-content {
	display: block;
	width: 100%;
	position: relative;
}
.featured-button, .plan.recommended .head, .single-testmonial i, .subnav-contact .phone-contact i, .subnav-contact .email-contact i, .title-line, .contact-form-title .title-line, .languages-lightbox-title, ul.portfolio-filter li.active a, ul.portfolio-filter li a:hover, .more-features-slider .owl-controls .owl-page.active span {
	background: #1abc9c;
}
.title-line {
	width: 60px;
	height: 5px;
	margin: 10px auto;
}
.flat-section-title h3 {
	font-size: 34px;
	padding-bottom: 15px;
	font-weight: 400;
	color: #333;
}
.flat-section-title p {
	font-size: 16px;
	color: #777;
	font-weight: 400;
	width: 70%;
	margin: auto;
	line-height: 24px;
}
.team-person {
	text-align: center;
	position: relative;
}
.team-person img {
	max-width: 100%;
	height: auto;
	transition: all 0.5s;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.team-person .team-profile {
	position: absolute;
	background: #1f1f1f;
	bottom: 0;
	padding: 40px 35px 35px;
	text-align: left;
	color: #999;
	left: 15px;
	right: 15px;
	margin-bottom: -10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}
.team-profile .about-team-person {
	margin: 10px 0;
	font-size: 13px;
	line-height: 22px;
}
ul.team-social-media li {
	display: inline-block;
	font-size: 17px;
	margin-right: 20px;
}
ul.team-social-media li a {
	color: #999;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.flat-section-title input{

	background: #ccc;
	border:1px solid #ccc;
}
.flat-section-title textarea{

	background: #ccc;

}
